<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadraoLoja">
	
<head>
	<meta charset="UTF-8"/>
	<title>Área da loja de reparos de computador</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/custom.css}"/>
	<script th:src="@{/layout/javascripts/bootstrap.min.js}"></script>
	<script th:src="@{/layout/jquery/jquery-3.2.0.js}"></script>
	


<style type="text/css">
	
.tabela tbody tr:hover{
    background-color: rgba(220, 220, 220, 1);
}
.tabela tbody td{

	
}
.botaoAcompanhar{
	padding-left:5px;
	padding-right: 5px;
	margin-top:10px;
	width: 150px;
	color:rgb(0,0,0);
}

</style>

</head>
<body>
<section layout:fragment="conteudo">
	<div class="col-sm-9 col-md-10">
		<h1><span th:text="${session.usuario.nome}"></span></h1>
	</div>
	<div class="row"></div>
	<h2 class="col-sm-9 col-md-10 sub-header">Últimos serviços realizados</h2>
	<div class="row"></div>
	<div class="table-responsive">
            <table class="table table-striped tabela">
              <thead>
                <tr>
                  
                  <th>Data</th>
                  <th>Cliente</th>
                  <th>Aparelho</th>
                  <th>Descrição</th>
           		  <th>Status</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
              
             
                <tr th:if="${lista != null}" th:each="lista: ${listaServicos}">
                
                  <td th:text="${lista.dataRequerimento}"></td>
                  <td th:text="${lista.cliente.nome}"></td>
                  <td th:text="${lista.computador.marcaModelo.modelo}"></td>
                  <td th:text="${lista.descricao}" ></td>
                  <td th:text="${lista.status}"></td>
                  
                  <td>
	                  <div  th:if="${lista.status.name() == 'PRE_DIAGNOSTICO'}">	
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/elaboracaoOrcamento(id=${lista.id})}"> Orçamento em elaboração</a>
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/cancelado(id=${lista.id})}"> Serviço cancelado</a>
	                  </div>
	                  
	                  <div  th:if="${lista.status.name() == 'ELABORACAO_ORCAMENTO'}">	
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/proximoStatus(id=${lista.id})}"> Autorização pendente</a>
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/cancelado(id=${lista.id})}"> Serviço cancelado</a>
	                  </div>
	                  
	                  <div  th:if="${lista.status.name() == 'AUTORIZACAO_PENDENTE'}">	
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/aprovarServicoAdmin(id=${lista.id})}"> Serviço autorizado</a>
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/cancelado(id=${lista.id})}"> Serviço cancelado</a>
	                  </div>
	                  
	                  <div  th:if="${lista.status.name() == 'SERVICO_AUTORIZADO'}">	
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/aguardandoPecas(id=${lista.id})}"> Aguardando peças</a>
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/aguardandoCliente(id=${lista.id})}"> Aguardando cliente</a>
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/emAndamento(id=${lista.id})}"> Em andamento</a>
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/cancelado(id=${lista.id})}"> Serviço cancelado</a>
	                  </div>
	                  
	                  <div  th:if="${lista.status.name() == 'AGUARDANDO_PECAS'}">	
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/aguardandoCliente(id=${lista.id})}"> Aguardando cliente</a>
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/cancelado(id=${lista.id})}"> Serviço cancelado</a>
	                  </div>
	                  
	                  <div  th:if="${lista.status.name() == 'AGUARDANDO_CLIENTE'}">	
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/emAndamento(id=${lista.id})}"> Em andamento</a>
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/cancelado(id=${lista.id})}"> Serviço cancelado</a>
	                  </div>
	                  
	                  <div  th:if="${lista.status.name() == 'EM_ANDAMENTO'}">	
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/finalizado(id=${lista.id})}"> Finalizado</a>
	                  </div>
	                  
	                  <div  th:if="${lista.status.name() == 'FINALIZADO'}">	
	                  	<a  class="btn btn-default botaoAcompanhar" th:href="@{../servico/aprovarServico(id=${lista.id})}"> Emitir NF-e</a>
	                  </div>
                  </td>
                
                </tr>
                            
              </tbody>
            </table>
          </div>
	
	</section>
</body>
</html>